<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品进货管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />



</head>
<style>
    .layui-table-cell {

        overflow: visible;

    }

    .layui-table-box {

        overflow: visible;

    }

    .layui-table-body {

        overflow: visible;

    }

    /* 设置下拉框的高度与表格单元相同 */

    td .layui-form-select {
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>

<body class="childrenBody">
<!-- 查询条件开始 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
    <legend>查询条件</legend>
</fieldset>
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">订单编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderId"   id="orderId" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline">
                    <input type="button" class="layui-input createtime"  name="createtime"/>
                </div>
            </div>
            <div class="layui-inline">

                <div class="layui-input-inline">
                    <button id="chaxunButton" type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                </div>
            </div>
        </div>


    </form>
</blockquote>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
    <table class="layui-hide" id="inportTable" lay-filter="inportTable"></table>
    <div id="inportToolBar" style="display: none;">
        <button type="button" lay-event="add" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-add-1"></span>生成新的采购订单</button>
    </div>
</div>

<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px" id="HaddOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="HdataFrm" lay-filter="HdataFrm">
        <input type="hidden" name="detailed_id" id="detailed_id">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">供应商名称</label>
                <div class="layui-input-inline">
                    <select name="supplierid" id="supplierid">
                        <option value="0">供应商名称</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- 添加和修改的弹出层结束 -->



<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px;" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <!--<div class="layui-form-item">-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">供应商</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<select name="supplierid" id="supplierid"   lay-filter="supplierid">-->
                        <!--<option value="0">请选择供应商</option>-->
                    <!--</select>-->
                    <!--<div class="mydiv" title="不可修改" style="position:absolute;width:100%;height:100%;left:0px;top:0px;background:#fff;opacity:0;filter:alpha(opacity=0)"> </div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">商品名称</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<select name="productid" id="productid">-->
                        <!--<option value="0">请选择商品</option>-->
                    <!--</select>-->
                    <!--<div class="mydiv" title="不可修改" style="position:absolute;width:100%;height:100%;left:0px;top:0px;background:#fff;opacity:0;filter:alpha(opacity=0)"> </div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">进货数量</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<input type="hidden" name="id">-->
                        <!--<input type="text" class="layui-input"  name="number" lay-verify="number" placeholder="请输入商品进货包装">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="layui-inline">-->
                    <!--<label class="layui-form-label">进货价格</label>-->
                    <!--<div class="layui-input-inline">-->
                        <!--<input type="text" class="layui-input" name="inportprice" lay-verify="number" placeholder="请输入商品进货规格">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">支付类型</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input type="radio" name="paytype" value="1" title="支付宝">-->
                    <!--<input type="radio" name="paytype" value="2" title="微信">-->
                    <!--<input type="radio" name="paytype" value="3" title="信用卡">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">进货备注</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<textarea  name="remark" class="layui-textarea"></textarea>-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center;">
                    <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                    <!--<button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>-->
                </div>
            </div>
        <!--</div>-->
    </form>
</div>
<!-- 添加和修改的弹出层结束 -->

<!--转采购入库的 开始-->
<!--<div id="zhuancaigouDiv" style="display: none;padding: 5px">-->
    <!--<form action="" method="post" class="layui-form layui-form-pane" id="zhuancaigouFrm" lay-filter="zhuancaigouFrm">-->
        <!--<div>-->
            <!--供应商: <select class="layui-select" id="supplierid" readonly="" name="supplierid">-->
        <!--</select>-->
            <!--单据日期: <input type="button" class="layui-input createtime"  name="createtime">-->
        <!--</div>-->
        <!--<div>-->
            <!--<table class="layui-hide" id="zhuancaigouTable" lay-filter="inportTable"></table>-->
            <!--<div id="zhuancaigouToolBar" style="display: none;">-->
                <!--<button type="button" lay-event="addmingxi" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-add-1"></span>添加采购明细</button>-->
            <!--</div>-->
        <!--</div>-->

    <!--</form>-->
<!--</div>-->
<!--转采购入库的结束-->

<!-- 退货的弹出层  开始 -->
<div id="backGoodsDiv" style="display: none;padding: 5px">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataBackFrm" lay-filter="dataBackFrm">
        <div class="layui-form-item">
            <label class="layui-form-label">退货数量</label>
            <div class="layui-input-block">
                <input type="hidden" name="id"> <!-- 进货单ID -->
                <input type="hidden" name="currentnumber" id="currentnumber"> <!-- 当前进货单的数量 -->
                <input type="text" class="layui-input"  name="number" lay-verify="required|checknumber" placeholder="请输入退货数量">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">退货备注</label>
            <div class="layui-input-block">
                <textarea  name="remark" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doBackSubmit" id="doBackSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 退货的弹出层  结束 -->


<script type="text/javascript" src="..//resources/layui/layui.js"></script>

<!--明细的右侧操作按钮-->
<script type="text/html" id="mingxiRowBar">
    <button type="button" lay-event="bianjimingxi" class="layui-btn layui-btn-sm" style="width: 120px"><span class="layui-icon layui-icon-edit"></span>编辑</button>
    <button type="button" lay-event="shanchumingxi" class="layui-btn layui-btn-sm" style="width: 120px" ><span class="layui-icon layui-icon-edit" >删除</span></button>
</script>

<!--明细的右侧操作按钮    结束-->

<script type="text/html" id="inportRowBar">
    {{# if(d.orderstate==1){ }}
    <button type="button" lay-event="shenhe" class="layui-btn layui-btn-sm" style="width: 120px" ><span class="layui-icon layui-icon-edit" >审核</span></button>
    <button type="button" lay-event="bianji" class="layui-btn layui-btn-sm" style="width: 120px"><span class="layui-icon layui-icon-edit"></span>编辑</button>
    {{# } }}
    {{# if(d.orderstate==2){ }}
    <button type="button" lay-event="zhuancaigou" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-edit" >转采购入库</span></button>
    <button type="button" lay-event="fanshenhe" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>反审核</button>
    {{# } }}
    {{# if(d.orderstate==3){ }}
    <button type="button" lay-event="xiangqing" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-edit" >详情</span></button>
    <button type="button" lay-event="tuihuo" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-edit"></span>退货</button>
    {{# } }}

</script>

<script type="text/javascript">

    function gys(){
        $.post('findSupplier',"json",function (data) {
                $("#supplierid option").remove();
                alert(data.length);
                for (var i=0;i<data.length;i++) {
                    //var a = "<option  value=" + data[i].id + ">"+ data[i].name + "</option>";
                    $("#supplierid").append("<option  value=" + data[i].id + ">"+ data[i].supplier + "</option>");
                }
            }
        );
    }

    //加载订单明细仓库的下拉框
    function selectDepot() {
        var selectDepot = '<select>';
        $.ajax({
            url: 'findAllDepot',
            type: 'post',
            async: false,
            success: function (data) {
                for (k in data) {
                    findAllDepot += '<option value=' + data[k].id + '>' + data[k].name + '</option>';
                }
                findAllDepot += '</select>';
            }
        });
        return findAllDepot;
    }
//加载订单明细中商品的下拉框
    function selectProduct() {
        var selectProduct = '<select>';
        $.ajax({
            url: 'selectProduct',
            type: 'post',
            async: false,
            success: function (data) {
                for (k in data) {
                    selectProduct += '<option value=' + data[k].id + '>' + data[k].name + '</option>';
                }
                selectProduct += '</select>';
            }
        });
        return selectProduct;
    }


</script>
<script type="text/javascript">

    // layui.use('laydate', function(){
    //     var laydate = layui.laydate;
    //
    //     //执行一个laydate实例
    //     laydate.render({
    //         elem: '#createtime' //指定元素
    //     });
    // });
    var tableIns;

    layui.use(['jquery','form','table','layer','laydate'],function(){
        var $=layui.jquery;
        var form=layui.form;
        var table=layui.table;
        var layer=layui.layer;
        var laydate=layui.laydate;
        //渲染时间选择器
        laydate.render({
            elem:'.createtime'
        });


        //加载 数据
        tableIns=table.render({
            elem: '#inportTable'
            ,url:'queryOrdersPage'
            ,toolbar: '#inportToolBar'//开启头部工具栏，并为其绑定左侧模板
            ,title: '商品进货数据表'
            ,height:'full-280'
            ,page: true
            ,cols: [ [
                {field:'orderId', title:'订单编号',align:'center' ,width:'180'}
                ,{field:'supplier', title:'供应商名称',align:'center',width:'220'}
                ,{field:'createtime', title:'订单日期',align:'center',width:'250',
                    templet :function (row){
                        return createTime(row.createtime);
                    }
                }
                ,{field:'total_tax', title:'价税合计',align:'center',width:'200'}
                ,{field:"orderstatename",id:'orderstateLine', title:'订单状态',align:'center',width:'220'}
                ,{fixed: 'right', title:'操作', toolbar: '#inportRowBar',align:'center',width:'450'}
            ] ]
            ,done: function(res, curr, count){ //处理删除某一页最后一条数据的BUG
                if(res.data.length==0&&curr!=1){
                    tableIns.reload({
                        page:{
                            curr:(curr-1)
                        }
                    });
                }
            }
        });

        // $('#chaxunButton').click(function(){
        //     parent.layer.msg('查询中...', {icon: 16,shade: 0.3,time:700});
        //     table.reload('inportTable',{
        //         page: {
        //             curr: 1
        //         }
        //         ,where:{
        //             type:$('input[name=type]').val(),
        //             createTime:$('input[name=createtime]').val()
        //         }
        //     });
        // });



        //模糊查询
            form.on("submit(doSearch)",function(data){
                tableIns.reload({
                    where:data.field,
                    page:{
                        curr:1
                    }
                });
            return false;
        });

        //监听工具条的事件
        table.on("toolbar(inportTable)",function(obj){
            switch(obj.event){
                case 'add':
                    openadd();
                    break;
            };
        }) ;


        //监听行工具条的事件
        table.on("tool(inportTable)",function(obj){
            var data = obj.data; //获得当前行数据
            switch(obj.event){
                case 'shenhe':
                    openShenheInportLayer(data);
                    break;
                case 'fanshenhe':
                    openFanshenheInportLayer(data);
                    break;
                case 'zhuancaigou':
                    zhuancaigou(data);
                    break;
                case 'bianji':
                    bianji(data);
                    break;
                case 'xiangqing':
                    xiangqing(data);
                    break;

            };
        });

        var mainIndex;
        var url;
        //打开审核的弹出层
        function openShenheLayer(){
            mainIndex=layer.open({
                type:1,
                content:$("#orderstate"),
                area:['800px','400px'],
                title:'审核订单',
                success:function(){
                    $("#dataFrm")[0].reset();
                    url="shenhe";
                    initProviderSelect();
                    $(".mydiv").hide();
                }
            });
        }

        //初始化添加和修改页面的下拉列表
        function initProviderSelect(supplierid){
            var dom=$("#productid");
            dom.html("");
            $.post("querySupplier",function(res){
                var data=res.data;
                var dom=$("#supplierid");
                var html='<option value="0">请选择供应商</option>'
                $.each(data,function(index,item){
                    html+='<option value="'+item.id+'">'+item.supplier+'</option>'
                });
                dom.html(html);
                //如果supplierid有值就反选
                if(supplierid!=undefined){
                    dom.val(supplierid);
                }
                form.render("select");
            });
        }
        //监听添加页面的供应商下拉框的改变事件
        form.on('select(supplierid)', function(data){
            var supplierid=data.value;
            initGoodsSelect(supplierid);
        });

        //加载商品下拉列表
        // function initGoodsSelect(supplierid,productid){
        //     $.get("loadGoodsBysupplierid",{supplierid:supplierid},function(res){
        //         var data=res.data;
        //         var dom=$("#productid");
        //         var html='<option value="0">请选择商品</option>'
        //         $.each(data,function(index,item){
        //             html+='<option value="'+item.id+'">'+item.goodsname+'-'+item.size+'['+item.providername+']</option>'
        //         });
        //         dom.html(html);
        //         //如果productid有值就反选
        //         if(productid!=undefined){
        //             dom.val(productid);
        //         }
        //         form.render("select");
        //     });
        // }

        //打开生成新的采购订单的弹出层




        //打开审核的弹出层
        function openShenheInportLayer(data){
                mainIndex=layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['200px','150px'],
                title:'提交审核',
                success:function(){
                    $("#dataFrm")[0].reset();
                    //装载新的数据
                    url="shenhe?orderid="+data.id+"&&orderstate="+2;
                    //禁用供应商和商品的下拉框
                    $(".mydiv").show();

                }
            });
        }

        //打开删除明细的弹出层
        function openshanchumingxiInportLayer(data){
            alert('hahaha');
            mainIndex=layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['200px','150px'],
                title:'删除明细',
                success:function(){
                    $("#zhuancaigouFrm")[0].reset();
                    //装载新的数据
                    url="shanchumingxi?detailed_id="+data.detailed_id;
                    //禁用供应商和商品的下拉框

                }
            });
        }



        form.on("submit(doSubmit)",function(data){
            $.post(url,data.field,function(res){
                if(res.code==200){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })
            return false;
        });
        //反审核
        function openFanshenheInportLayer(data){
            mainIndex=layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['200px','150px'],
                title:'撤销审核',
                success:function(){
                    $("#dataFrm")[0].reset();
                    //装载新的数据
                    url="shenhe?orderid="+data.id+"&&orderstate="+1;
                    //禁用供应商和商品的下拉框
                    $(".mydiv").show();

                }
            });
            // layer.confirm('你确定要撤回这个订单的审核吗?', {icon: 3, title:'提示'}, function(index){
            //     $.post("shenhe?orderid="+data.id+"orderstate="+1,{id:data.id,orderstate:1},function(res){
            //         if(res.code==200){
            //             tableIns.reload();
            //         }
            //         layer.msg(res.msg);
            //     })
            //     layer.close(index);
            // });
        }

        function createTime(v){
            var date = new Date(v);
            var y = date.getFullYear();
            var m = date.getMonth()+1;
            m = m<10?'0'+m:m;
            var d = date.getDate();
            d = d<10?("0"+d):d;
            var h = date.getHours();
            h = h<10?("0"+h):h;
            var M = date.getMinutes();
            M = M<10?("0"+M):M;
            var str = y+"-"+m+"-"+d+" "+h+":"+M;
            return str;
        }


        //打开转采购的弹出层
        function zhuancaigou(data){
            window.location.href="mingxiShow?orderId="+data.orderId;
        }
        //打开采购订单编辑的网址
        function bianji(data){
            window.location.href="mingxiShow?orderId="+data.orderId;
        }

        //打开采购订单编辑的网址
        function xiangqing(data){
            window.location.href="xiangqing?orderId="+data.orderId;
        }

        function openadd(){
            $.post("mingxiS")
        }

        //自定义验证规则
        form.verify({
            checknumber: function(value){
                var currentnumber=parseInt($("#currentnumber").val());
                if(parseInt(value)>currentnumber||parseInt(value)<1){
                    return '退货数量只能在【0】-【'+currentnumber+"】数量之间";
                }
            }
        });

        //退货提交
        form.on("submit(doBackSubmit)",function(data){
            $.post("/outport/addOutport",data.field,function(res){
                if(res.code==200){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })
            return false;
        });
    });
</script>



</body>
</html>