<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.sys.mapper.qxs.finance.ExpenditureMapper">
    <update id="updateExpenditure" parameterType="com.sxt.sys.domain.qxs.finance.Expenditure">
        update expenditure
        <set>
            <if test=" account !=null">
                <!-- 修改收款方 -->
                account=#{account},
            </if>
            <if test=" remark !=null">
                <!-- 修改收款方 -->
                remark=#{remark},
            </if>
            principal=#{principal}
        </set>
        where expenditureId=#{expenditureId}
    </update>
</mapper>