<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.sys.mapper.winter.SaleMapper">
    <!--添加销售信息-->
    <insert id="saveSale" parameterType="com.sxt.sys.domain.winter.Sale">
        insert into sale values(#{id},#{userId},#{clientId},#{productId},#{depotId},#{state},#{deleteFlag})
    </insert>
    <!--修改销售状态-->
    <update id="updateSaleState" parameterType="com.sxt.sys.domain.winter.Sale">
        update sale set state = #{state} where id = #{id}
    </update>
    <!--修改所有销售信息-->
    <update id="updateSaleNumber" parameterType="com.sxt.sys.domain.winter.Sale">
        update sale set number = #{number} where id = #{id}
    </update>
    <!--删除标记销售信息-->
    <delete id="deleteSale">
        update sale set deleteFlag = #{deleteFlag}
        where id = #{id}
    </delete>

    <!-- 未删除标记销售信息 --><!--resultMap="saleToUser"-->
    <select id="getAllNoDeleteSale" resultType="hashmap">
         select s.id saleId,u.name userName,su.supplier,p.product_name productName,de.name deName,d.number depotName,s.number saleNumber,
        s.discounts,s.money,s.reality,s.commission,s.state from sale s
        inner join sys_user u on s.userId = u.id
        inner join supplier su on s.clientId = su.id
        inner join product p on s.productId = p.id
		inner join depot de on s.depotId = de.id
        inner join depothead d on s.depotheadId = d.id
        where s.deleteFlag = 0
        order by d.createTime desc
    </select>

    <!-- 查询已删除标记销售信息 --><!--resultMap="saleToUser"-->
    <select id="getAllDeleteSale" resultType="hashmap">
         select s.id saleId,u.name userName,su.supplier,p.product_name productName,de.name deName,d.number depotName,s.number saleNumber,
        s.discounts,s.money,s.reality,s.commission,s.state from sale s
        inner join sys_user u on s.userId = u.id
        inner join supplier su on s.clientId = su.id
        inner join product p on s.productId = p.id
		inner join depot de on s.depotId = de.id
        inner join depothead d on s.depotheadId = d.id
        where s.deleteFlag = 1
        order by d.createTime desc
    </select>

    <!-- 查询已删除标记销售信息 -->
    <select id="getAllSale" resultType="com.sxt.sys.domain.winter.Sale">
        select * from sale order by id desc
    </select>

    <!-- 查询单条销售数据 -->
    <select id="findSaleOne" resultType="hashmap">
        select s.id saleId,u.name userName,su.supplier,p.product_name productName,de.name deName,d.number depotName,s.number saleNumber,
        s.discounts,s.money,s.reality,s.commission,s.state,d.createTime,d.amount from sale s
        inner join sys_user u on s.userId = u.id
        inner join supplier su on s.clientId = su.id
        inner join product p on s.productId = p.id
		inner join depot de on s.depotId = de.id
        inner join depothead d on s.depotheadId = d.id
        where s.id = #{id}
    </select>
</mapper>