<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加组装</title>
    <link rel="stylesheet" href="../../../static/resources/layui/css/layui.css">
    <script src="../../../static/resources/layui/layui.js"></script>
    <link rel="stylesheet" href="../../../static/resources/csss/H-ui.min.css">
    <style>
        #bigd{
            margin-left: 200px;
            width: 500px;
        }
    </style>


</head>
<body>
<form class="layui-form" action="inserAssbble" id="bigd">
    <label class="layui-form-label">添加工序</label>
    <div class="layui-form-item">
        <label class="layui-form-label" >工序名称</label>
        <div class="layui-input-block">
            <input type="text"   lay-verify="required"  autocomplete="off" class="layui-input" th:each="selePri:${selePri}" th:value="${selePri.product_name}">
            <input type="hidden" th:each="selePri:${selePri}" th:value="${selePri.proid}" name="proid">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单据编号</label>
        <div class="layui-input-block">
            <input type="text" name="id" required  lay-verify="required"   autocomplete="off" class="layui-input" th:each="selediswork:${selediswork}"  th:value="${selediswork.billid}" >
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">工序分类</label>
        <div class="layui-input-block">
            <select name="workingProcedure"  lay-verify="required">
                <option value="">===请选择===</option>
                <option>组装</option>
                <option>包装</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">生产人员</label>
        <div class="layui-input-block">
            <select name="prpersonnel"  lay-verify="required"  >
                <option value="">===请选择===</option>
                <option th:value="${seleuser.id}" th:each="seleuser:${seleuser}" th:text="${seleuser.name}">组装</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">生产车间</label>
        <div class="layui-input-block">
            <select name="productionWorkshop"  lay-verify="required">
                <option value="">===请选择===</option>
                <option>A车间</option>
                <option>B车间</option>
                <option>C车间</option>
            </select>
        </div>
    </div>
            <div class="layui-inline" id="startTime">
                <input type="text" class="layui-input" id="test1" placeholder="开始时间" name="assembyTime">
            </div>
            <br/>
            <br/>
            <div class="layui-inline" id="endTime">
                <input type="text" class="layui-input" id="test2" placeholder="预计结束时间" name="assembyendTime">
            </div>
            <br/>
            <br/>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
/*        form.on('submit(formDemo)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });*/
    });

</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#test1' //指定元素
        });
        laydate.render({
            elem: '#test2' //指定元素
        });

    });
</script>

</body>
</html>