<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/resources/layui/css/layui.css">
    <script src="../../../static/resources/layui/layui.js"></script>
    <link rel="stylesheet" href="../../../static/resources/csss/H-ui.min.css">
    <script src="../../../static/resources/jss/jquery-3.4.1.min.js"></script>
</head>
<body>
<table id = "tbo"
        class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
    <tr class="text-c">
        <th width="100">生产名称</th>
        <th width="100">开始时间</th>
        <th width="100">预计结束时间</th>
        <th width="100">负责人</th>
        <th width="100">生产数量</th>
        <th width="100">所需原料详情</th>
        <th width="100">审核状态</th>
        <th width="100">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="seleuser:${pdsele}" height="40px" class="text-c" th:if="${seleuser.deleteProd==0}">
        <td th:text="${seleuser.product_name}"></td>
        <td th:text="${seleuser.startTime}"></td>
        <td th:text="${seleuser.endTime}"></td>
        <td th:text="${seleuser.name}"></td>
        <td th:text="${seleuser.quantity}"></td>
        <td><a th:href="@{/selepropick(pickingid=${seleuser.pickingid})}">原料详情</a></td>
        <td>
            <a th:href="@{/DgaddProduct(id=${seleuser.id})}">
                <button type="button" class="layui-btn layui-btn layui-btn-sm" th:if="${seleuser.productionAudit==0}">
                    <i class="layui-icon">&#xe642;</i> 通过
                </button>
            </a>
            <a th:href="@{/DgaddProduct(id=${seleuser.id})}">
                <button type="button" class="layui-btn layui-btn layui-btn-sm" th:if="${seleuser.productionAudit==0}">
                    <i class="layui-icon">&#xe642;</i> 不通过
                </button>
            </a>
            <button type="button" class="layui-btn layui-btn layui-btn-sm" th:if="${seleuser.productionAudit==1}">
                <i class="layui-icon">&#xe642;</i> 审核通过
            </button>
            <button type="button" class="layui-btn layui-btn layui-btn-sm" th:if="${seleuser.productionAudit==1}">
                <i class="layui-icon">&#xe642;</i> 审核未通过
            </button>
        </td>
        <td >
            <a th:href="@{/delepro(id=${seleuser.id})}">
            <button type="button" class="layui-btn layui-btn layui-btn-sm">
                <i class="layui-icon">&#xe640;</i> 删除
            </button>
            </a>
            <a th:href="@{/seleDgPick(id=${seleuser.id})}">
            <button type="button" class="layui-btn layui-btn layui-btn-sm" th:if="${seleuser.productionAudit==1}">
                <i class="layui-icon">&#xe654;</i>添加领料
            </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<script>
    $(function(){
        $('#tbo').DataTable({
            "aLengthMenu":[4,6]  , //每页显示数
        });
    });

</script>
</body>
</html>