<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>所需原料</title>
    <link rel="stylesheet" href="../../../static/resources/layui/css/layui.css">
    <script src="../../../static/resources/layui/layui.js"></script>
    <link rel="stylesheet" href="../../../static/resources/csss/H-ui.min.css">
    <script src="../../../static/resources/jss/jquery-3.4.1.min.js"></script>
</head>
<body>
<table class="layui-table"  style="width: 600px">
    <colgroup>
        <col width="150">
        <col width="200">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>所需物料</th>
        <th>物料名称</th>
        <th>所需数量</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="selepropick:${selepropick}">
        <td th:text="${selepropick.mName}"></td>
        <td th:text="${selepropick.catname}"></td>
        <td th:text="${selepropick.numbersl}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>