<!DOCTYPE HTML>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="打卡日程">
    <meta name="description" content="Helloweba，在线演示HTML、CSS、jquery、PHP示例DEMO。">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/resources/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/fullcalendar/css/main.css">
    <link rel="stylesheet" type="text/css" href="/resources/fullcalendar/css/fullcalendar.css">
    <link rel="stylesheet" href="/resources/csss/H-ui.min.css" />
    <style type="text/css">
        #calendar {
            width: 900px;
            margin: 20px auto 10px auto
        }
        .button{
            text-align: center;
        }
    </style>
    <script src='/resources/fullcalendar/js/jquery-1.9.1.min.js'></script>
    <script src='/resources/fullcalendar/js/jquery-ui-1.10.2.custom.min.js'></script>
    <script src='/resources/fullcalendar/js/fullcalendar.min.js'></script>
    <script src="/resources/layui/layui.js"></script>
    <script src="/resources/csss/jquery.dataTables.min.js"></script>
    <script src="/resources/jss/winter/work/Date.js"></script>
    <script type="text/javascript">
        function callback(arr) {
            console.log(arr);
        }

        $(function () {
            //window.location.href = "/findWork";
            var userId = $("#userId").val();
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                theme: false,
                monthNames: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
                monthNamesShort: ["一", "二", "三", "四", "五", "六", "七", "八", "九", "十", "十一", "十二"],
                dayNames: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
                today: ["今天"],
                buttonText: {
                    today: '今天',
                    month: '月',
                    week: '周',
                    day: '日'
                },
                firstDay: 1,
                editable: false, //支持Event日程拖动修改，默认false
                timeFormat: 'H:mm',
                axisFormat: 'H:mm',
                events: function (start, end, callback) {
                    currentTime();
                    $.ajax({
                        url: "work",
                        data: {'userId': 1},
                        dataType: 'json',
                        cache: false,
                        success: function (doc) {
                            var events = [];
                            var obj = doc;
                            console.log(obj);
                            for (var key in obj) {
                                var list = obj[key];
                                var attendanceDate = yearToDate(list.attendanceDate);
                                var startTime = hourMinuteSecond(list.startTime);
                                var start = attendanceDate + " " + startTime;
                                var endTime = hourMinuteSecond(list.endTime);
                                var end = attendanceDate + " " + endTime;
                                var id = list.id;
                                console.log(startTime)
                                events.push({
                                    title: '上班签到',
                                    start: start,
                                    id: id,
                                    className: 'label-info',
                                    allDay: false,
                                    backgroundColor: "#FFB90F"
                                });
                                events.push({
                                    title: '下班签退',
                                    start: end,
                                    id: id,
                                    className: 'labl-info',
                                    allDay: false,
                                    backgroundColor: "#8DEEEE"
                                })
                            }
                            console.log(events);
                            callback(events);
                        },
                        error: function () {
                            alert('出错啦！！请联系管理员！！');
                        }
                    })
                }
            });
            //上班签到
            var startTime = hourMinuteSecond(new Date());
            console.log(startTime);
            var workId = parseInt("4");
            $("#signIn").click(function () {
                debugger;
                $.ajax({
                    url: "updateWorkStartTime",
                    data: {
                        'startTime': startTime,
                        'id': workId
                    },
                    type: 'post',
                    success: function (resp) {
                        if (resp) {
                            window.location.href = "/findWork";
                        } else {
                            alert("修改失败")
                        }
                    }
                })
            });
            var starts = $("#startTime").val();
            var endTime = hourMinuteSecond(new Date());
            //下班签退
            $("#signOut").click(function () {
                $.ajax({
                    url: "updateWorkAttendanceDate",
                    data: {
                        'startTime': starts,
                        'endTime': endTime,
                        'allHour': '00:00:00',
                        'id': workId
                    },
                    type: 'post',
                    success: function (resp) {
                        if (resp) {
                            window.location.href = "/findWork";
                        } else {
                            alert("修改失败")
                        }
                    }
                })
            })
        });
    </script>
</head>
<body>

<div id="main" style="width:80%">
    <h2 class="top_title"><a href="#">打卡考勤</a></h2>
    <div class="button">
        <!--<input type="hidden" id="workId" name="id" th:value="${workUser.id}"/>-->
        <!--单个查询修改状态-->
        <div th:if="${workUser.workState == 0}">
            <button class="layui-btn" id="signIn">上班签到</button>
        </div>
        <div th:if="${workUser.workState == 1}">
            <input type="hidden" name="startTime" id="startTime" th:value="${workUser.startTime}"/>
            <button class="layui-btn layui-btn-warm" id="signOut">下班签退</button>
        </div>
        <!--禁用-->
        <div th:if="${workUser.workState == 2}">
            <button class="layui-btn layui-btn-disabled">今日已签到/签退</button>
        </div>
        <p>1.（法定上班时间为08:30:00，晚于该时间即为迟到。
            法定下班时间为18:30:00，早于该时间即为早退）;</p>
        <p>2.下班后还未进行上班打卡的员工，则视为旷工，当天则不允许打卡，
            如果当天忘记打卡，需第二天向领导进行申诉申请，并说明原因</p>
        <input type="hidden" name="userId" id="userId" value="1"/><!--th:value="${user.id}"-->
    </div>
    <div id='calendar' style="width:60%"></div>
</div>
</body>
</html>