<!DOCTYPE html>
<html class="loginHtml">
<head>
	<meta charset="utf-8">
	<title>登录--layui后台管理模板 2.0</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="/resources/favicon.ico">
	<link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/resources/css/public.css" media="all" />
	<script src="/resources/jss/jquery-3.4.1.min.js"></script>

</head>
<body class="loginBody">
	<form class="layui-form">
		<input type="hidden" id="week" name="week"/>
		<div class="login_face"><img src="/resources/images/face.jpg" class="userAvatar"></div>
		<div class="layui-form-item input-item">
			<label for="loginname">用户名</label>
			<input type="text" placeholder="请输入用户名" autocomplete="off" name="loginname" class="layui-input" lay-verify="required">
		</div>
		<div class="layui-form-item input-item">
			<label for="pwd">密码</label>
			<input type="password" placeholder="请输入密码" autocomplete="off" name="pwd" class="layui-input" lay-verify="required">
		</div>

		<div class="usernameWrapDiv">

			<div class="layui-form-item ">
				<label for="userName">输入验证码</label>
				<input id="loginCard" style="width: 150px;display: inline" class="layui-input cardInput" type="text" name="card" placeholder="输入验证码">

			</div>
			<div class="codeDiv" style=" position: absolute;  top: 180px; left: 180px;">
				<input id="loginCode" style="width: 100px;display: inline" class="layui-input codeInput"  type="button">
			</div>

		</div>
		<!--<div class="layui-form-item input-item" id="imgCode">
			<label for="code">验证码</label>
			<input type="text" placeholder="请输入验证码" autocomplete="off" id="code" class="layui-input">
			<img src="/resources/images/code.jpg">
		</div>-->
		<div class="layui-form-item">
			<button class="layui-btn layui-block" lay-filter="login" lay-submit>登录</button>
		</div>
		<div class="layui-form-item layui-row">
			<!--<a href="javascript:;" class="seraph icon-qq layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
			<a href="javascript:;" class="seraph icon-wechat layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>
			<a href="javascript:;" class="seraph icon-sina layui-col-xs4 layui-col-sm4 layui-col-md4 layui-col-lg4"></a>-->
		</div>
	</form>
	<script type="text/javascript" src="/resources/layui/layui.js"></script>
	<script type="text/javascript" src="/resources/js/cache.js"></script>
<script type="text/javascript">

    $(function () {
        // 页面初始化生成验证码
        window.onload = createCode('#loginCode');
        // 验证码切换
        $('#loginCode').click(function () {
            createCode('#loginCode');
        });
		//获取周几
        var mydate=new Date();
        var myddy=mydate.getDay();//获取存储当前日期
        var weekday=["星期日","星期一","星期二","星期三","星期四","星期五","星期六"];
        //console.log("今天是：" + weekday[myddy]);
		var week = $("#week").val(weekday[myddy]);
		console.log(week)

    });
    // 生成验证码
    function createCode(codeID) {
        var code = "";
        // 验证码长度
        var codeLength = 4;
        // 验证码dom元素
        var checkCode = $(codeID);
        // 验证码随机数
        var random = [0,1,2,3,4,5,6,7,8,9,'A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R',
            'S','T','U','V','W','X','Y','Z'];
        for (var i = 0;i < codeLength; i++){
            // 随机数索引
            var index = Math.floor(Math.random()*36);
            code += random[index];
        }
        // 将生成的随机验证码赋值
        checkCode.val(code);
    }
    // 校验验证码、用户名、密码
    function validateCode(inputID,codeID) {
        var inputCode = $(inputID).val().toUpperCase();
        var cardCode = $(codeID).val();
        if (inputCode.length<=0){
            layer.alert("验证码不能为空");
            return false;
        }
        if (inputCode != cardCode){
            layer.alert("请输入正确验证码");
            return false;
        }
        return true;
    }




    layui.use(['form','layer','jquery'],function(){
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer
        $ = layui.jquery;
/*
        $(".loginBody .seraph").click(function(){
            layer.msg("这只是做个样式，至于功能，你见过哪个后台能这样登录的？还是老老实实的找管理员去注册吧",{
                time:5000
            });
        })*/

        //登录按钮
        form.on("submit(login)",function(data){
            var btn =  $(this);

            if (!validateCode('#loginCard','#loginCode')){
                // alert("验证码不正确");
                return false;
                //阻断提示
            }else {
                //设置登录按钮  为不可点击
                btn.text("登录中...").attr("disabled","disabled").addClass("layui-disabled");
                $.post("/login/login",data.field,function(rs){
                    //设置登录按钮 恢复可点击   在前端防止 重复点击
                    btn.text("登录").attr("disabled",false).removeClass("layui-disabled");
                    layer.msg(rs.msg);
                    if(rs.code != 200){
                        layer.msg(rs.msg);
                    }else{
                        //跳转到templates/system/index/index.html页面
                        layer.msg(rs.msg);
                        location.href="/sys/index";
                    }
                });
			}
            return false;
        })

        //表单输入效果
        $(".loginBody .input-item").click(function(e){
            e.stopPropagation();
            $(this).addClass("layui-input-focus").find(".layui-input").focus();
        })
        $(".loginBody .layui-form-item .layui-input").focus(function(){
            $(this).parent().addClass("layui-input-focus");
        })
        $(".loginBody .layui-form-item .layui-input").blur(function(){
            $(this).parent().removeClass("layui-input-focus");
            if($(this).val() != ''){
                $(this).parent().addClass("layui-input-active");
            }else{
                $(this).parent().removeClass("layui-input-active");
            }
        })
    })

	</script>
</body>
</html>