<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxt.sys.mapper.winter.WorkAttendanceMapper">
    <!-- 多对一 多个考勤对一个用户  一对多标签 <collection ofType="com.sxt.sys.domain.winter.WordAttendance" autoMapping="true">-->
    <!--<resultMap id="workToUser" type="com.sxt.sys.domain.winter.WorkAttendance" autoMapping="true">
        <id property="id" column="id"></id>
        <association property="userId" javaType="com.sxt.sys.domain..UserInfo" autoMapping="true">
            <id property="id" column="id"></id>
        </association>
    </resultMap>-->
    <!-- 添加考勤 -->
    <insert id="saveWorkAttendance" parameterType="com.sxt.sys.domain.winter.WorkAttendance">
      insert into workAttendance values(#{id},#{userId},#{attendanceDate},#{week},#{startTime},#{endTime},#{allHour},#{state})
    </insert>
    <!--修改考勤-->
    <update id="updateWorkAttendance" parameterType="com.sxt.sys.domain.winter.WorkAttendance">
      update workAttendance set userId = #{userId},attendanceDate = #{attendanceDate},week = #{week},startTime = #{startTime},endTime = #{endTime},allHour = #{allHour},state = #{state} where id = #{id}
    </update>
    <!--修改考勤状态-->
    <update id="updateWorkAttendanceState" parameterType="com.sxt.sys.domain.winter.WorkAttendance">
      update workAttendance set start = #{start} where id = #{id}
    </update>
    <!-- 修改上班时间 -->
    <update id="updateWorkStartTime" parameterType="com.sxt.sys.domain.winter.WorkAttendance">
        update workattendance set startTime = #{startTime} where id = #{id}
    </update>
    <!--修改考勤时间-->
    <update id="updateWorkAttendanceDate" parameterType="com.sxt.sys.domain.winter.WorkAttendance">
      update workAttendance set endTime = #{endTime},allHour = #{allHour},workState = 1 where id = #{id}
    </update>
    <!--查看该员工的考勤信息-->
    <select id="getEmployeeAttendance" resultType="hashmap">
        select w.id,u.userName,w.attendanceDate,w.`week`,w.startTime,w.endTime,w.allHour,w.state from workAttendance w
        inner join userInfo u on u.id = w.userId
        where userId = 1 order by attendanceDate desc
    </select>

    <!-- 查询单条员工记录 -->
    <select id="findWorkAttendance" resultType="com.sxt.sys.domain.winter.WorkAttendance">
        select * from workattendance where id = #{id}
    </select>
</mapper>