<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css"/>
    <link rel="stylesheet" href="/resources/csss/H-ui.min.css"/>
    <script src="/resources/csss/jquery-1.8.3.min.js"></script>
    <script src="/resources/csss/jquery.dataTables.min.js"></script>
    <script src="/resources/layui/layui.js"></script>
</head>
<body>
<div id="fsWin" style="width: 95%;">
    <table style="width: 100%;height: 100%" id="ftop"
           class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr >
            <th colspan="16" height="15px" style="color: #F4F4F4">
                <button class="layui-btn layui-btn-sm" id="btnInsert" >增加</button>
            </th>
        </tr>
        <tr class="text-c">
            <th>编号</th>
            <th>用户名</th>
            <th>客户名</th>
            <th>产品名</th>
            <th>数量</th>
            <th>优惠率</th>
            <th>总金额</th>
            <th>实付金额</th>
            <th>提成</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale,saleStat : ${sale}" class="text-c">
            <td th:text="${saleStat.count}"></td>
            <td th:text="${sale.userName}"></td>
            <td th:text="${sale.supplier}"></td>
            <td th:text="${sale.productName}"></td>
            <td th:text="${sale.saleNumber}"></td>
            <td th:text="${sale.discounts}"></td>
            <td th:text="${sale.money}"></td>
            <td th:text="${sale.reality}"></td>
            <td th:text="${sale.commission}"></td>
            <td th:if="${sale.state==0}">
                <font color="red">未提交</font>
            </td>
            <td th:if="${sale.status==0 && sale.state==1}">
                <font color="yellow">审批</font>
            </td>
            <td th:if="${sale.status==1}">
                <font color="#00bfff">销售出货</font>
            </td>
            <td th:if="${sale.state==3}">
                <font color="gray">销售退货</font>
            </td>
            <td th:if="${sale.state==0}">
                <button type="button" class="layui-btn layui-btn-danger" th:onclick="stateSale([[${sale.saleId}]],1)">提交申请</button>
            </td>
            <td th:if="${sale.status==0 && sale.state==1}">
                <button type="button" class="layui-btn layui-btn-normal">审核中</button>
            </td>
            <td th:if="${sale.status==1}">
                <button type="button" class="layui-btn layui-btn-danger" th:onclick="deleteSale([[${sale.saleId}]])">删除</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $("#ftop").DataTable({
        aLengthMenu: [3, 5, 1]
    });

    $("#btnInsert").click(function () {
        //使用layui展示客户与仓库信息
        layui.use('layer',function () {
            var layer = layui.layer;
            layer.open({
                title:'详情',
                type:2,
                skin: 'layui-layer-lan ', //样式类名
                closeBtn: 1, //显示关闭按钮
                anim: 2,
                area:['95%','70%'],
                resize:true,
                //id: '1', //防止重复弹出
                shadeClose: true, //开启遮罩关闭
                shade:[0.5], //透明度，背景颜色
                content: ['/toSale'],
                //offset:'auto',
                btn:['确认','取消'],
                yes:function (index, layero) {
                    window.location.href="/allSale";
                }
            })
        })
    })

   function deleteSale(id){
       //删除销售信息
       layui.use('layer',function () {
           var layer = layui.layer;
           layer.open({
               title:'警告',
               type:0,
               closeBtn: 1,
               id: '1', //防止重复弹出
               shadeClose: true, //开启遮罩关闭
               content:'是否确定删除',
               btn:['确定','取消'],
               yes:function (index, layero) {
                   $.ajax({
                       url:'/deleteSale',
                       type:'post',
                       dataType:'json',
                       data:{
                           'deleteFlag':1,
                           'id':id
                       },
                       success:function (resp) {
                           if(resp){
                               //alert("数据已删除")
                               layer.close(index); //如果设定了yes回调，需进行手工关闭
                               location.href='/allSale';
                           }
                       }
                   })
               }
           });
       })
   }

   //提交审核
    function stateSale(id,state){
        layui.use('layer',function () {
            var layer = layui.layer; //独立版的layer无需执行这一句
            layer.open({
                title:'申请',
                type:0,
                closeBtn: 1,
                id: '1', //防止重复弹出
                shadeClose: true, //开启遮罩关闭
                content:'是否确认提交审核',
                btn:['确定','取消'],
                yes:function (index, layero) {
                    $.ajax({
                        url:'/updateSaleState',
                        type:'post',
                        dataType:'json',
                        data:{
                            'id':id,
                            'state':state
                        },
                        success:function (resp) {
                            if(resp){
                                layer.close(index); //如果设定了yes回调，需进行手工关闭
                                location.href='/allSale';
                            }
                        }
                    })
                }
            });
        });
    }

    //编辑销售信息
    function updateSale(id){
        layui.use('layer',function () {
            var layer = layui.layer;
            layer.open({
                title:'修改销售记录',
                type:2,
                //skin: 'layui-layer-lan ', //样式类名
                closeBtn: 1, //显示关闭按钮
                anim: 2,
                area:['95%','70%'],
                resize:true,
                id: '1', //防止重复弹出
                shadeClose: true, //开启遮罩关闭
                shade:[0.5], //透明度，背景颜色
                content: ['/findSale?id='+id],
                //offset:'left',
                btn:['取消'],
                yes:function () {
                    window.location.href="/allSale"
                }
            });
        })
    }
</script>
</body>
</html>
