<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/resources/csss/jquery-1.8.3.min.js"></script>
    <script src="/resources/csss/jquery.dataTables.min.js"></script>
    <script src="/resources/layui/layui.js"></script>
    <link rel="stylesheet" href="/resources/layui/css/layui.css" />
    <link rel="stylesheet" href="/resources/csss/H-ui.min.css" />
</head>
<body>
<div>
    <form>
        <table class="layui-table">
           <!-- <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>-->
            <thead>
            <tr class="text-c">
                <th>客户</th>
                <th>单据日期</th>
                <th>单据编号</th>
                <th>销售人员</th>
                <th>仓库名称</th>
                <th>产品名称</th>
                <th>所需数量</th>
                <th>库存</th>
                <th>单价</th>
                <th>总金额</th>
                <th>实际付款金额</th>
                <th>提成</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <tr class="text-c">
                    <td>
                        <!-- 客户： -->
                        <select lay-verify="select" name="clientId" id="clientId">
                            <option>===请选择===</option>
                            <option th:each="su:${supplier}" th:value="${su.id}">[[${su.supplier}]]</option>
                        </select>
                    </td>
                    <td>
                        <!--单据日期： -->
                        <input type="text" placeholder="请选择" class="layui-input"  name="createTime" id="createTime"/>
                    </td>
                    <td>
                        <!--单据编号： -->
                        <input type="hidden" name="depotHeadId" value="0"/>
                        <input type="text" placeholder="请输入" class="layui-input"  name="depotHeadNumber" id="depotHeadNumber" readonly="readonly">
                    </td>
                    <td>
                        <!--销售人员： --><!--当前登录用户 th:value="${user.userName}"-->
                        <input type="hidden" name="userId" value="1"/>
                        <input type="text" placeholder="请输入" class="layui-input"  name="userName" id="userName" readonly="readonly"/>
                    </td>
                    <td>
                        <!--仓库名称： -->
                        <select id="depotId" name="depotId">
                            <option>===请选择===</option>
                            <option th:each="depot:${depot}" th:value="${depot.id}">[[${depot.name}]]</option>
                        </select>
                    </td>
                    <td>
                        <!--产品名称： -->
                        <select id="productId" name="productId">
                            <option>===请选择===</option>
                            <option th:each="pro:${product}" th:value="${pro.product_name}">[[${pro.product_name}]]</option>
                        </select>
                    </td>
                    <td>
                        <!-- 所需数量： -->
                        <input type="text" name="saleNumber" placeholder="请输入" class="layui-input"  id="saleNumber" required="required"/>
                    </td>
                    <td>
                        <!-- 库存：-->
                        <input type="text" name="number" placeholder="请输入" class="layui-input"  id="basicNumber" readonly="readonly"/>
                    </td>
                    <td>
                        <!--单价： -->
                        <input type="text" name="unitPrice" placeholder="请输入" class="layui-input"  id="unitPrice" readonly="readonly"/>
                    </td>
                    <td>
                        <!--总金额： -->
                        <input type="text" name="money" placeholder="请输入" class="layui-input"  id="money" readonly="readonly"/>
                    </td>
                    <td>
                        <!--实际付款金额： -->
                        <input type="text" name="reality" placeholder="请输入" class="layui-input"  id="reality"/>
                    </td>
                    <td>
                        <!--提成： --><!--总金额的2%-->
                        <input type="text" name="commission" id="commission" placeholder="请输入" class="layui-input" readonly="readonly"/>
                    </td>
                    <td><input class="layui-btn" type="submit" value="保存" /></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<script type="text/javascript">
    //生成日期 yyyy-MM-dd HH:mm:ss
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#createTime', //指定元素
            type: 'datetime'//时间选择器类型 可以选择年月日时分秒
        });
    });

    //生成唯一的标识ID
    function uuid() {
        var s = [];
        var hexDigits = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        for (var i = 0; i < 15; i++) {//15位
            s[i] = hexDigits.substr(Math.floor(Math.random() * hexDigits.length), 1);
        }
        s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
        //s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
        //s[8] = s[13] = s[18] = s[23] = "-";//去掉-
        var uuid = s.join("");
        return uuid;
    }
    var UIDs = uuid(); //自定义ID
    $("#depotHeadNumber").val(UIDs);

    //计算  总金额 = 单价*数量 提成
    var saleNumber = $("#saleNumber").val();
    var unitPrice = $("#unitPrice").val();
    var totalMoney = parseFloat(unitPrice) * parseInt(saleNumber);
    var money = $("#money").val(totalMoney);
    // 提成 = 总金额*2%
    var pushMoney = parseFloat(money)*0.02;
    var commission = $("#commission").val(pushMoney);

    //根据产品名称获取库存与单价
    $("#productId").change(function () {
        debugger;
        var designation = $("#productId option:checked").val();//产品编号
        var depotId = $("#depotId option:checked").val();//仓库编号
        $.ajax({
            url:'/selectItem',
            dateType:'json',
            type:'post',
            data:{'designation':designation,'depotId':depotId},
            success:function (resp) {
                debugger;
                if(resp!=null && resp!=""){
                    alert(resp.basicNumber+"=="+resp.price);
                   $("input[name='number']").val(resp.basicNumber);
                   $("input[name='unitPrice']").val(resp.price);
                }else {
                    alert('库存不足，请联系生产部门');
                }
            }
        });
    })


</script>
</body>
</html>